In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r'C:\Users\yahya\Whisper-MAY\Dataset\adapt.csv')

In [ ]:
df

                    audio                                         transcript
0          train_sample_0  على إنها عار في الوقت اللي كانت بتتعامل مع أخو...
1          train_sample_1  فأكيد ربنا عوضهم خير هو الراجل بيبقى ليه إختيا...
2          train_sample_2  زي دول كتيره بنشوفها النهارده في العالم وأصبحت...
3          train_sample_3  يعني مين اللي بيحط شروطها يعني أنا شايفه إني م...
4          train_sample_4  والله هي الموضوع مش كليب خلي بالك ولا أغنيه ال...
...                   ...                                                ...
50710  train_sample_50710  كل شيء يعني وارد في ضوء احتياجات الناس وضوء ال...
50711  train_sample_50711  يلا خلينا نشجعهم بذمه ويرجعولنا منصورين فاصل و...
50712  train_sample_50712  و لا نقلل من قيمة ده فبالتالي منعرفش نستفيد من...
50713  train_sample_50713          نبع يجري للعبد أجرهن بعد موته وهو في قبره
50714  train_sample_50714  عائداتنا من تصدير الغاز الطبيعي أو هنقلل من ال...

[50715 rows x 2 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50715 entries, 0 to 50714
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   audio       50715 non-null  object
 1   transcript  50709 non-null  object
dtypes: object(2)
memory usage: 792.6+ KB

In [6]:
df.describe()

                 audio transcript
count            50715      50709
unique           50715      50653
top     train_sample_0       خلاص
freq                 1          4

In [15]:
len(df.transcript[0].split())

14

In [61]:
df['numb']= df['transcript'].map(lambda x : len(str(x).split()))

In [62]:
df.numb.max()

48

In [63]:
df.numb.min()

1

In [83]:
df.query('numb <= 32')

,audio,transcript,numb
0,train_sample_0,على إنها عار في الوقت اللي كانت بتتعامل مع أخو...,14
1,train_sample_1,فأكيد ربنا عوضهم خير هو الراجل بيبقى ليه إختيا...,19
2,train_sample_2,زي دول كتيره بنشوفها النهارده في العالم وأصبحت...,13
3,train_sample_3,يعني مين اللي بيحط شروطها يعني أنا شايفه إني م...,12
4,train_sample_4,والله هي الموضوع مش كليب خلي بالك ولا أغنيه ال...,21
...,...,...,...
50710,train_sample_50710,كل شيء يعني وارد في ضوء احتياجات الناس وضوء ال...,15
50711,train_sample_50711,يلا خلينا نشجعهم بذمه ويرجعولنا منصورين فاصل و...,11
50712,train_sample_50712,و لا نقلل من قيمة ده فبالتالي منعرفش نستفيد من...,13
50713,train_sample_50713,نبع يجري للعبد أجرهن بعد موته وهو في قبره,9
50714,train_sample_50714,عائداتنا من تصدير الغاز الطبيعي أو هنقلل من ال...,17

In [ ]:
df.describe()

               numb
count  50464.000000
mean      13.244293
std        5.203095
min        1.000000
25%        9.000000
50%       13.000000
75%       17.000000
max       29.000000